<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="az.theternal.console.debugstepper.ui.DebugStepperAutoInit"
            android:authorities="${applicationId}.console-stepper-init"
            android:exported="false" />
    </application>
</manifest>
